RewriteEngine on
RewriteCond $1 !^(bootstrap|font-awesome|assets|js|css|font-awesome|font-awesome-4.4.0|fonts|img|imgkuliner|foto_user|plugins|dist|gambar)
RewriteRule ^(.*)$ index.php [L]
RewriteCond $1 !^(index.php|bootstrap|font-awesome|assets|js|css|font-awesome|font-awesome-4.4.0|fonts|img|imgwisata|foto_user|plugins|dist|gambar)
RewriteRule ^(.*)$ index.php/$1 [L]
